.form-login, .form-register, .box-add-house {
    background: #ffffffd4;
    padding: 30px 15px 50px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    margin-top: 90px;
}

#login, #register, .add-house {
    position: relative;
    background-image: url(img/bg-img/hero3.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

#register {
    min-height: 1100px;
}

.add-house {
    min-height: 1500px;
}

div#login::after,
div#register::after,
div.add-house::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000038;
}

.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #a6a6a64d;
}

body input[type=email],
body input {
    background-color: transparent !important;
    border-radius: 5px;
}

body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:active,
body input:-webkit-autofill:focus {
    background-color: yellow !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px #ffffff2b inset !important;
    -webkit-text-fill-color: #555555 !important;
    }

.breakpoint-off .classynav ul li .dropdown {
    width: 220px;
}

.confirm-box .listings-content {
    margin-top: 0;
}

input.totalPrice {
    border: none;
    font-weight: bold;
}

.btn-login, .btn-register {
    background: #9494949e;
    border-radius: 20px;
}

.btn-register {
    background: #81e65859;
}
